<div>
    <h4>Create Present Data</h4>
    <form name="createPresents" ng-submit="createPresents(presents)">
        <div ng-repeat="present in newPresents">
            <fieldset class="form-group">
                <textArea ng-model="present.size" name="size" class="form-control" placeholder="present.size" title="Size" ng-maxlength="255"></textArea>
                <span data-ng-show="createPresents.size.$error.maxlength">Size is too long</span>
            </fieldset>
            <fieldset class="form-group">
                <textArea ng-model="present.clatters" name="clatters" class="form-control" placeholder="present.clatters" title="Clatters" ng-maxlength="255"></textArea>
                <span data-ng-show="createPresents.clatters.$error.maxlength">Clatters is too long</span>
            </fieldset>
            <fieldset class="form-group">
                <textArea ng-model="present.weight" name="weight" class="form-control" placeholder="present.weight" title="Weight" ng-maxlength="255"></textArea>
                <span data-ng-show="createPresents.weight.$error.maxlength">Weight is too long</span>
            </fieldset>
            <fieldset class="form-group">
                <textArea ng-model="present.giver" name="giver" class="form-control" placeholder="present.giver" title="Giver" ng-maxlength="255"></textArea>
                <span data-ng-show="createPresents.giver.$error.maxlength">Giver is too long</span>
            </fieldset>
        </div>

        <fieldset class="form-group">
            <input type="button" ng-click="newPresent()" class="btn btn-primary pull-right" value="Add Present" />
        </fieldset>

        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Changes" ng-disabled="!createPresents.$valid"/>
        </fieldset>
    </form>
</div>